/*BreadCrumbs Style*/
.breadcrumb-row {
    margin: 0px;
    background-color: #f9ab4f;
    padding: 0px;
}

.breadcrumb {
    background: #f9ab4f;
    margin: 0px;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 1.2em;
    font-weight: 600;
}

.breadcrumb li a,
.breadcrumb .active{
    color: black;
    text-decoration: none;
}

.breadcrumb > li + li:before {
  padding-right: 10px;
  color: black;
  content: ">>";
}

/*main content styles*/
.main-content {
    margin: 0px;
}

.main-content h3{
    padding-left: 20px;
}

/*side Navigation style*/
#side-navigation ul li a {
    border-radius: 0px;
    color: white;
}

#side-navigation ul li a {
    background: #00909e;
    padding-bottom: 10px;
    font-size: 1em;
}

#side-navigation ul li a:hover,
#side-navigation ul li a:focus {
    background-color: #00BED1;
}

#side-navigation ul li.active a,
#side-navigation ul li.active a:hover,
#side-navigation ul li.active a:focus {
    background-color: #00BED1;
}

#side-navigation ul {
    margin-top: 15px;
}

#side-navigation ul li {
    margin-top: 0px;
}

@media only screen and (max-width:768px) {
    #side-navigation  {
        margin: 0px;
        padding: 0px 50px;
    }
}

@media only screen and (min-width:768px) {
    #side-navigation{
        width: 22%;
    }
}

/*Article Styling*/
.section-article {
    margin-top: 15px;
    padding: 0px;
    margin-bottom: 50px;
}

@media only screen and (max-width:768px) {
    .section-article {
        padding: 0px 50px;
    }
}
@media only screen and (min-width:768px) {
    .section-article {
        width: 60%
    }
}
.section-article a{
    color: #184e2d;
    border-bottom: 1px dotted;
    text-decoration: none;
}

.section-article a:hover{
    color: #e2a82b;
}

#department p {
    text-align: left;
    padding:0px 15px;
}

#contact-info h3{
    margin-top: -10px;
    padding-left: 0px;
}

#contact-info p{
    margin: 1em 0;
}

#contact-info ul{
    list-style-type: square;
}


table tbody tr td {
    padding-left: 25px !important;
}

.table-name{
    width: 29%;
}